history.json
[{"id":"c5ad28a3.ded43","type":"inject","z":"2dc48a09.df974e","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":true,"onceDelay":"","x":159,"y":108,"wires":[["cf72b8e6.6971d"]]},{"id":"cf72b8e6.6971d","type":"http request","z":"2dc48a09.df974e","name":"","method":"GET","ret":"obj","url":"http://192.168.1.49/api/historyData.htm","tls":"","x":287.5,"y":438,"wires":[["2b24b029.66ee58","cc113ea8.7adc4"]]},{"id":"2b24b029.66ee58","type":"split","z":"2dc48a09.df974e","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"solax","x":465.5,"y":327,"wires":[["dd1f2473.b76838"]]},{"id":"dd1f2473.b76838","type":"debug","z":"2dc48a09.df974e","name":"Read String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":645.5,"y":324,"wires":[]},{"id":"cc113ea8.7adc4","type":"function","z":"2dc48a09.df974e","name":"mine","func":"var historyArray = msg.payload\nvar powerOutput, energyToday, energyMonth, power4, totalEnergy, power6, power7, power8, power9, power10;\npowerOutput = { payload: historyArray[0], topic: \"solax/history/powerOutput\" };\nenergyToday = { payload: historyArray[1], topic: \"solax/history/energyToday\" };\nenergyMonth = { payload: historyArray[2], topic: \"solax/history/energyMonth\" };\npower4 = { payload: historyArray[3], topic: \"solax/history/power4\" };\ntotalEnergy = { payload: historyArray[4], topic: \"solax/history/totalEnergy\" };\npower6 = { payload: historyArray[5] };\npower7 = { payload: historyArray[6] };\npower8 = { payload: historyArray[7] };\npower9 = { payload: historyArray[8] };\npower10 = { payload: historyArray[9] };\nreturn [powerOutput, energyToday, energyMonth, power4, totalEnergy, power6, power7, power8, power9, power10 ];\n","outputs":10,"noerr":0,"x":469.5,"y":527,"wires":[["b3f2173f.b3a878"],["b3f2173f.b3a878"],["b3f2173f.b3a878"],["b3f2173f.b3a878"],["b3f2173f.b3a878"],[],[],[],[],[]]},{"id":"b3f2173f.b3a878","type":"mqtt out","z":"2dc48a09.df974e","name":"send to lola","topic":"","qos":"","retain":"","broker":"b27c6d10.b2ea2","x":472,"y":622,"wires":[]},{"id":"b27c6d10.b2ea2","type":"mqtt-broker","z":"","name":"LolaMqtt","broker":"192.168.1.10","port":"1883","clientid":"cora","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
