realtimeData.json
[{"id":"d79adfaf.4afa78","type":"inject","z":"2c9a2bcf.68f704","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"90","crontab":"","once":true,"onceDelay":"","x":134,"y":145,"wires":[["a278c2b0.eebe6"]]},{"id":"a278c2b0.eebe6","type":"http request","z":"2c9a2bcf.68f704","name":"Inverter IP here","method":"GET","ret":"txt","url":"http://192.168.1.49/api/realTimeData.htm","tls":"","x":334,"y":145,"wires":[["a81a4a38.5d878"]]},{"id":"a81a4a38.5d878","type":"yaml","z":"2c9a2bcf.68f704","property":"payload","name":"","x":116.5,"y":198,"wires":[["f198ad77.3520e8"]]}]
